[run]
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */admin.py
    */apps.py
    */asgi.py
    */wsgi.py
    */settings.py
    */urls.py
    */install-poetry.py
    */manage.py
    */conftest.py
    */shortener/tests.py